*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    min-height: 100%;
}

body{
    background: white;
    overflow-x: hidden;
}

.first-page{
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 768px;
    background: white;
}

.breathe-graphic{
    position: absolute;
    width: 36.31vw;
    max-width: 496px;
    height: auto;
    left: 0;
    top: 113px;
}

.calendar-graphic{
    position: absolute;
    width: 54.61vw;
    max-width: 746px;
    height: auto;
    left: 41.21vw;
    top: 113px;
}

.dashboard-section{
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 768px;
    background: #79bdf2;
    overflow: hidden;
}

.haven-graphic {
    position: absolute;

    width: 1376px;
    height: auto;

    left: -260px;
    top: 0;
}

.final-dashboard{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 768px;
    background: white;
    overflow: hidden;
}

.todo-graphic{
    position: absolute;
    width: 325px;
    height: auto;
    left: 117px;
    top: 0;
    z-index: 10;
}

.timer-stage{
    position: absolute;
    width: 660px;
    height: 590px;
    left: 600px;
    top: 165px;
    z-index: 5;
}

.timer-background{
    position: absolute;
    width: 660px;
    height: auto;
    left: 0;
    top: 0;
    z-index: 1;
}

.timer-can{
    position: absolute;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 10;
}

.timer-can img{
    display: block;
    width: 120px;
    height: auto;
}

.start-timer{
    left: 174px;
    top: 300px;
}

.stop-timer{
    left: 377px;
    top: 300px;
}